@use "variables" as v;

@layer base {
  :root {
    --light: #{v.$light};
    --light-foreground: black;

    --dark: #{v.$dark};
    --dark-foreground: ${v.$light};

    --dark2: #{v.$dark2};
    --dark2-foreground: ${v.$light};

    --secondary: #{v.$secondary};
    --secondary-foreground: ${v.$light};

    --secondary2: #{v.$secondary2};
    --secondary2-foreground: ${v.$light};
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  body {
    background-color: v.$light;
    overflow-x: hidden;
    // overflow: hidden;
  }

  .test {
    background: black;
  }

  .test:hover {
    background: red;
  }

  .test:not(:hover) {
    background: blue;
  }
}

@layer utilities {
  .inspect {
    border: red solid 1px;
  }

  .rtl {
    direction: rtl;
  }
}
